<div class="card jumbotron">
  <%= form_with model: @order, url: checkout_index_path, method: :post, local: false do |f|  %>
    <h5 class="card-title">Done your payment</h5>
    <div class="form-check">
      <%=f.radio_button :payment_method, 'cash' %>
      <label class="form-check-label" for="flexRadioDefault1">
        Pay with cash
      </label>
    </div>
    <div class="form-check">
      <%=f.radio_button :payment_method, 'card' %>
      <label class="form-check-label" for="flexRadioDefault2">
          Pay via card
      </label>
    </div>
    <%= button_to 'Order Now',  class: 'btn btn-primary'%>
  <% end %>
</div>
