<div class="Products"> 
  <h2>Products</h2>
</div>
<table class="table table-striped">
  <thead class="first-row">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="col-width">Title</th>
      <th scope="col">Original Price</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
      <th scope="col">Product Type</th>
      <th scope="col">Active / InActive</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><i class="fa fa-chevron-right"></i></td>
      
    </tr>

    <div class="position">
      <%=link_to "Show Users", admin_users_path, class: "btn btn-dark" %>
    </div>

  </tbody>
</table>
