@import "bootstrap/scss/bootstrap";
/*
 *= require font-awesome
 */

body {
  box-sizing: border-box; 
}
 
.center {
  width: 400px;
  margin: 0 auto; 
}

.background {
   background-image: url("pic1.jpg");
   height: 110vh;
   width: 100%;
   background-size: cover;
   color: white;
}

.links a {
  text-decoration: none;
  color: black;
}

.table1 {
   max-width: 950px;
   margin: 10% auto;
 }

.field {
  width: 300px;
}

.jumbotron {
  background: #dcdcdc;
  padding: 20px 30px;
}

.paginate {
  height: 100px;
  width: 100%;
  color: black;  
}

.search {
  float: right;
}

.brentmark {
  text-align: center;
}

#form1 {
  width: 400px;
  margin-left:40%;
  margin-bottom: 2%;
  color: black;
  display:none;
}

.inputfields {
  width: 300px;
  line-height: 10px;
  border-radius: 25px;
  height: 25px;
  margin-bottom: 17px;
  border-style: none;
}

.margin-bottom {
  margin-bottom: 8px;
}

.margin-top {
  margin-top: 20px;
}

.button {
  width: 300px;
  border-radius: 25px;
}

.description {
  font-size: 10px;
  opacity: 0.7;
}

.errors {
  color: black;
}

.white {
  color: black;
}

.first-row {
  background: #4ab6f0;
  font-size: 20px;
  font-weight: 100;
}

.col-width {
  width: 400px;
  height: 70px
}

.table-striped {
  margin-top: 10%;
}

.position {
  position: absolute;
  top: 60%;
  right: 20%;
}

.Products {
 position: absolute;
 top: 15%;
}
