@import "bootstrap/scss/bootstrap";

body {
  box-sizing: border-box; 
}
 
.center {
  width: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 40px 45px;
}

.table1 {
   max-width: 950px;
   margin: 10% auto;
 }

.search {
  float: right;
}

.brentmark {
  text-align: center;
}

#form1 {
  width: 400px;
  margin-left:40%;
  margin-bottom: 2%;
  color: black;
  display:none;
}

.inputfields {
  width: 300px;
  line-height: 10px;
  border-radius: 25px;
  height: 25px;
  margin-bottom: 17px;
  border-style: none;
}

.margin-bottom {
  margin-bottom: 8px;
}

.margin-top {
  margin-top: 20px;
}

.button {
  width: 300px;
  border-radius: 25px;
}

.description {
  font-size: 10px;
  opacity: 0.7;
}

.errors {
  color: black;
}

.white {
  color: black;
}
