<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="#">
   <h4>Brentmark</h4>
  </a>
<h4><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'Signout' %></h4>

</nav>
